<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" th:href="@{/css/coffeeList.css}">
    <title>찰리집 : 커피 </title>
</head>
<body>
    <div th:replace="fragments/board_header :: board_header"></div>
    <!-- //header -->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="content_title">
                        <h2>게시판</h2>
                        <a href="/coffee/new" class="btn">등록</a>
                    </div>
                    <div class="gallery clearfix">
                        <div class="item" th:each="board : ${boardList}">
                            <div class="post">
                                <img src="/img/coffeetaste.jpg" alt="커피맛">
                            </div>
                            <div class="infor">
                                <h3 th:text="${board.store_name}"></h3>
                                <ul class="clearfix">
                                    <li class="line" th:text="${board.menu_name}"></li>
                                    <li th:text="${board.price}"></li>
                                </ul>
                                <div class="infor_btn">
                                    <a th:href="@{'/coffee/view/' + ${board.id}}"><span>자세히보기</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paging" style="text-align: center;">
                        <span th:object="${pageList}" th:inline="text">
                            <ul th:with="startNumber=${pageList.blockStartNum},
                                        endNumber=${pageList.blockLastNum}">
                                <li th:style="${startNumber} < 5 ? 'display:none'">
                                    <a th:href="@{/coffee/list/(page=${startNumber} - 1) }">◀</a>
                                </li>
                                <li th:each="pageNum : ${#numbers.sequence(startNumber,endNumber)}"
                                    th:class="(${pageNum} == ${pageList.nowPageNum}) ? 'active'">
                                    <a th:href="@{'/coffee/list/?page=' + ${pageNum}}" th:text="${pageNum}"></a>
                                </li>
                                <li th:style="${pageList.lastPageNum} <= ${endNumber} ? 'display:none'">
                                    <a th:href="@{/coffee/list/(page=${endNumber} + 1) }">▶</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //section -->

    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- //footer  -->

</body>
</html>