<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" th:href="@{/css/coffeeView.css}">
    <title>찰리집 : 커피 </title>
</head>
<body>
    <div th:replace="fragments/board_header :: board_header"></div>
    <!-- //header -->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="content_left">
                        <img src="/img/coffeetaste.jpg" alt="커피맛">
                    </div>
                    <div class="content_right">
                        <p th:text="${coffeeBoardDto.store_name}"></p>
                        <div class="info">
                            <dl class="list">
                                <dt class="tit" >메뉴</dt>
                                <dd class="desc" th:text="${coffeeBoardDto.menu_name}"></dd>
                            </dl>
                            <dl class="list">
                                <dt class="tit">가격</dt>
                                <dd class="desc" th:text="${coffeeBoardDto.price}"></dd>
                            </dl>
                            <dl class="list">
                                <dt class="tit">내용</dt>
                                <dd class="desc" th:text="${coffeeBoardDto.desc}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="form_footer">
                    <a href="/coffee/list" class="btn">목록으로</a>
                </div>
                <div class="button">
                    <a th:href="@{'/coffee/' + ${coffeeBoardDto.id} + '/edit' }" class="btn">수정</a>
                    <form th:action="@{'/coffee/' + ${coffeeBoardDto.id} }" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button>삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
</html>