<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head th:replace="template/layout/head :: common_header(~{::title}, ~{::link})">

    <title>찰리집 : 커피 </title>

    <link rel="stylesheet" th:href="@{/css/coffeeView.css}">

</head>
<body>
    <div th:replace="template/fragment/board_header :: board_header"></div>
    <!-- //header -->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="content_left">
                        <svg height="100%" width="100%" viewBox="0 0 400 400"
                            th:with="sweet=${coffeeBoardDto.sweet}, acidity=${coffeeBoardDto.acidity},
                                    body=${coffeeBoardDto.body}, balance=${coffeeBoardDto.balance},
                                    aftertaste=${coffeeBoardDto.aftertaste}, aroma=${coffeeBoardDto.aroma}">
                            <polyline points="200,80 302,140 302,260 200,320 98,260 98,140 200,80" style="fill:none;stroke:black;stroke-width:3" />
                            <text x="180" y="72" fill="#222222">Sweet</text>
                            <text x="311" y="140" fill="#222222">Acidity</text>
                            <text x="311" y="265" fill="#222222">Body</text>
                            <text x="175" y="340" fill="#222222">Balance</text>
                            <text x="27" y="265" fill="#222222">Aftertaste</text>
                            <text x="47" y="140" fill="#222222">Aroma</text>
                            <defs>
                                <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                                    <stop offset="0%" style="stop-color:rgb(200,145,128);stop-opacity:0.6"/>
                                    <stop offset="80%" style="stop-color:rgb(153,87,38);stop-opacity:1" />
                                </radialGradient>
                            </defs>
                            <polygon th:attrappend="points=${'200,' + (200 - 2*sweet) + ' '
                                                   + (200 + 1.73*acidity) + ',' + (200 - acidity) + ' '
                                                   + (200 + 1.73*body) + ',' + (200 + body) + ' '
                                                   + '200,' + (200 + 2*balance) + ' '
                                                   + (200 - 1.73*aftertaste) + ',' + (200 + aftertaste) + ' '
                                                   + (200 - 1.73*aroma) + ',' + (200 - aroma)}"
                                     style="fill:url(#grad1);stroke:white;stroke-width:1" />
                        </svg>
                    </div>
                    <div class="content_right">
                        <p th:text="${coffeeBoardDto.store_name}"></p>
                        <div class="info">
                            <dl class="list">
                                <dt class="tit" >메뉴</dt>
                                <dd class="desc" th:text="${coffeeBoardDto.menu_name}"></dd>
                            </dl>
                            <dl class="list">
                                <dt class="tit">가격</dt>
                                <dd class="desc" th:text="${coffeeBoardDto.price}"></dd>
                            </dl>
                            <dl class="list">
                                <dt class="tit">내용</dt>
                                <dd class="desc" th:text="${coffeeBoardDto.desc}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="form_footer">
                    <a th:href="@{/coffees}" class="btn">목록으로</a>
                </div>

                <div th:style="${boardWrite == false} ? 'display:none'"
                        class="button">
                    <a th:href="@{/coffees/{id}/edit(id=${coffeeBoardDto.id})}" class="btn">수정</a>
                    <form th:action="@{/coffees/{id}/delete(id=${coffeeBoardDto.id})}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button>삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>
</html>