<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/layout/head :: common_header(~{::title}, ~{::link})">

    <title>찰리집 : 로그인</title>

    <link rel="stylesheet" th:href="@{/css/login_style.css}">

</head>
<body>
    <div th:replace="~{template/fragment/member_header :: member_header}"></div>
    <!-- //header -->

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="login-wrap">
                    <h4 class="ir_su">로그인 정보</h4>
                    <form action="/members/login" id="login_form" name="login_form" method="post">
                        <fieldset>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <legend class="ir_su">로그인 및 관련 설정</legend>
                            <div class="login_content">
                                <h5 class="ir_su">로그인 영역</h5>
                                <div class="lc_text">
                                    <label for="username" class="ir_su">아이디</label>
                                    <input type="text" id="username" name="username" class="input_text" maxlength="20" placeholder="아이디">
                                    <label for="password" class="ir_su">비밀번호</label>
                                    <input type="password" id="password" name="password" class="input_text" maxlength="20" placeholder="비밀번호">
                                </div>
                                <button type="submit" class="lc_btn">로그인</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- //section -->

</body>
</html>